.slider-y {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 450px;
}

.slider-y:before {
    content: "";
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(96%, white), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.slider-y:after {
    content: "";
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(96%, white), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
}

.slider-y .single-column {
    -webkit-animation: var(--animation, none) 20s infinite linear;
    animation: var(--animation, none) 20s infinite linear;
    padding: 0;
    margin: 0 10px;
    width: calc(25% - 20px);
}

.slider-y .single-column li {
    border-radius: 30px;
    margin-bottom: 15px;
    list-style: none;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.slider-y .single-column li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
}

.slider-y .single-column:nth-of-type(odd) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    --direction: 50%;
}

@-webkit-keyframes slide {
    to {
        -webkit-transform: translateY(var(--direction, -50%));
        transform: translateY(var(--direction, -50%));
    }
}

@keyframes slide {
    to {
        -webkit-transform: translateY(var(--direction, -50%));
        transform: translateY(var(--direction, -50%));
    }
}