body {
    font-family: 'Montserrat', sans-serif !important;
}

.header {
    background-image: url(../images/fondo-header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    min-height: 650px;
    padding: 130px 20px;
}

.header-title {}

.header-content_footer {
    background-image: url(../images/Background-white-shadow-bottom.png) !important;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgb(140, 87, 87); */
    padding: 80px 40px;
    border-radius: 40px;
    transform: translateY(-130px);
}

.navbar-logo {
    max-width: 350px;
}

.text-primary {
    color: #00B4D8 !important;
}

.bg-fit {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.br-15 {
    border-radius: 15px;
}