* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    /* behavior: 'smooth'; */
}

.header {
    background-image: url(../images/fondo-header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    min-height: 650px;
    padding: 130px 20px;
}

.header-title {}

.header-content_footer {
    background-image: url(../images/Background-white-shadow-bottom.png) !important;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: rgb(140, 87, 87); */
    padding: 80px 40px;
    border-radius: 40px;
    transform: translateY(-130px);
}

.navbar-logo {
    max-width: 350px;
}

.text-primary {
    color: #00B4D8 !important;
}

.bg-fit {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.br-15 {
    border-radius: 15px;
}

.texto-g {
    color: #fff;
    background-image: linear-gradient(45deg, #8A39E1 0%, #00B4D8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #fff;
}

.slider-y {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 450px;
}

.slider-y:before {
    content: "";
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(96%, white), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.slider-y:after {
    content: "";
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(96%, white), to(white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 96%, white 100%);
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
}

.slider-y .single-column {
    -webkit-animation: var(--animation, none) 20s infinite linear;
    animation: var(--animation, none) 28s infinite linear;
    padding: 0;
    margin: 0 10px;
    width: calc(33.3% - 20px);
}

.slider-y .single-column li {
    border-radius: 15px;
    margin-bottom: 15px;
    list-style: none;
    overflow: hidden;
    /* width: 31%$; */
    /* height: 100px; */
}

.slider-y .single-column li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
}

.slider-y .single-column:nth-of-type(odd) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    --direction: 50%;
}

@-webkit-keyframes slide {
    to {
        -webkit-transform: translateY(var(--direction, -50%));
        transform: translateY(var(--direction, -50%));
    }
}

@keyframes slide {
    to {
        -webkit-transform: translateY(var(--direction, -50%));
        transform: translateY(var(--direction, -50%));
    }
}

.shadow-galery-item {
    box-shadow: 5px 5px 5px 5px rgba(161, 161, 161, 0.2);
}

@media (max-width: 768px) {
    .h1,
    h1 {
        font-size: 1.9em !important;
    }
    .h2,
    h2 {
        font-size: 1.7em !important;
    }
    .title_primary {
        font-size: 2.5em !important;
    }
}

.text-fadeOut-custom {
    animation-duration: 4s;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content_animation_letter {
    position: relative;
    width: 250px;
    height: 40px;
    display: inline-block;
    /* background-color: #000; */
}

.content_animation_letter .letter_item {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    /* top: 0; */
    right: 0;
    height: 100%;
    width: 100%;
    /* background-color: #8A39E1; */
    transition: all .5s;
}

@media (max-width: 768px) {
    .content_animation_letter {
        width: 100%;
        height: 40px;
    }
    .content_animation_letter .letter_item {
        position: absolute;
        left: 0;
        bottom: 0;
        /* top: 0; */
        right: 0;
        text-align: center;
        height: 100%;
        width: 100%;
        /* background-color: #8A39E1; */
    }
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1 !important;
    display: block;
}

.geeks {
    animation: blur 8s linear infinite;
}

@keyframes blur {
    0% {
        filter: blur(10px);
    }
    20% {
        filter: blur(0);
    }
    60% {
        filter: blur(0);
    }
    95% {
        filter: blur(30px);
    }
    100% {
        filter: blur(10px);
    }
}
.bg-light-custom{
    background:#f1f1f1;
}


.br-5 {
    border-radius: 10px;
}